<span *ngIf = "!mailSent; then one else two"> </span>
<ng-template #one>
    <span>
        <div class="card">
            <h1 class="card-header"> Reset Password</h1> 
            <div class="card-body">
                <div class="input">
                    <br><br>
                    <label><strong>EMAIL</strong></label>
                    <br><br>
                    <input type="text" [(ngModel)]="email">
                    <br>
                    {{email}}
                    <br>
                    <button type="submit" class="btn btn-dark" (click)="resetPass()"> Reset </button>
                    <br><br><br>
                </div>
            </div>
        </div>
    </span>
</ng-template>

<ng-template #two>
    <span>
        <div class="card">
            
            <p>Mail Sent to {{email}}</p>

            <p>Please try again if mail not received.</p>

            <p> <a href="signIn"><button class="btn btn-dark"> SIGN IN </button> </a></p>

        </div>

    </span>

</ng-template>